:root{
    --my-header-height:200px;
    --my-footer-height:100px;
    --my-page-height:800px;
    --my-nav-height:23px;
}
#container{
    display: block;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    height: var(--my-page-height);
    background-color: gray;
}
#logoContainer{
    background-image: url("/View/CSS/def.css");
    height: calc( var(--my-header-height) -  var(--my-nav-height));
}
#midPart{height: calc(var(--my-page-height) - var(--my-footer-height) - var(--my-header-height));
}
nav{text-align: right;
    height:var(--my-nav-height);
}
nav>a::after{

}
#mainPart{
    overflow: auto;
    width: 100%;
    height: 100%;
    float: right;
    background-color: aquamarine;
 }
header{
    height: var(--my-header-height);
}
#coverLayer{
    display: none;
}
#loginField{
    padding: 10px;
    display: block;
    background-color: cornsilk;
    position: fixed;
    top:200px;
    left:200px;
}
footer{
    background-color: burlywood;
    height:var(--my-footer-height);
}
#loginForm{}
#loginForm button{
width: 100%;
}
#signUp{
    position: fixed;
    width: 500px;
    height: 300px;
    left:auto;
    top:auto;
    background-color: gray;
}
#signUp label{
    width:150px;
    display: inline-block;
}
.row{
    width: 100%;
}